<!DOCTYPE html>
<html>

<head>
	<title>Daftar</title>
	<link rel="stylesheet" href="./login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-default bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/catalog">
				<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Shopeedia
			</a>
			<% if (!currentUser) { %>
			<span class="navbar-text">
				<a href="/login">Login</a>
				<span>&nbsp;&nbsp;&nbsp;</span>
				<a href="/register">Sign Up</a>
			</span>
			<% } else { %>
				<span class="navbar-text">
					<% if (currentUser.username == "admin") { %>
					<a href="/dashboard"><strong>
							Dashboard</strong>
					</a>
					<span>&nbsp;&nbsp;&nbsp;</span>
					<% } else { %>
						<a href="/profile">
							Welcome, <strong>
								<%=currentUser.username%></strong>
						</a>
						<% if (Array.isArray(currentUser.cart) && currentUser.cart.length ) { %>
						<a href="/checkout">
							<strong> Checkout </strong>
						</a>
						<% } %>
						<span>&nbsp;&nbsp;&nbsp;</span>
					<% } %>
					<a href="/logout">Logout</a>
				</span>
				<% } %>
		</div>
	</nav>

	<div class=container>
		<% if (flashError && flashError.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%=flashError%>
		</div>
		<% } else if (flashSuccess && flashSuccess.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%=flashSuccess%>
		</div>
		<% } %>
	</div>
	<form action="/register" method="post">
		<div class="imgcontainer">
			<img src="./assets/logo.png" alt="Avatar" class="avatar">
		</div>

		<div class="container col-md-5">
			<div>
				<h1> Daftar</h1>
				<p>Silahkan isi form untuk membuat akun.</p>
				<hr>
			</div>
			<label class="biru" for="email"><b>Email</b></label>
			<input type="text" placeholder="Masukkan Email" name="email" required>
			<label class="biru" for="username"><b>Username</b></label>
			<input type="text" placeholder="Masukkan Username" name="username" required>
			<label class="biru" for="password"><b>Password</b></label>
			<input type="password" placeholder="Masukkan Password" name="password" required>
			<label class="biru" for="name"><b>Nama</b></label>
			<input type="text" placeholder="Masukkan Nama Anda" name="name" required>
			<label class="biru" for="address"><b>Alamat</b></label>
			<input type="text" placeholder="Masukkan Alamat" name="address" required>
			<label class="biru" for="phone"><b>Nomor Telepon</b></label>
			<input type="text" pattern="^[0-9]*$" title="Gunakan hanya angka!" placeholder="Masukkan Nomor Telepon" name="phone" required>
			<!-- <p>Dengan membuat akun, Anda setuju dengan <a href="#">Syarat & Ketentuan</a> kami.</p> -->
			<hr>
			<button type="submit" class="registerbtn"><strong>Daftar</strong></button>

			<div class="container signin">
				<p class="asklogin">Sudah punya akun? <a href="/login">Masuk</a>.</p>
			</div>
		</div>

	</form>
</body>

</html>