<!DOCTYPE html>
<html>
<head>
<title>Daftar</title>
<link rel="stylesheet" href="login.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<form action="action_page.php">
  <div class="container">
    <h1>Daftar</h1>
    <p>Silahkan isi form untuk membuat akun.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Masukkan Email" name="email" required>

    <!-- <label for="username"><b>Username</b></label> -->
    <!-- <input type="username" placeholder="Enter Username" name="username" required> -->

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Masukkan Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Masukkan Password" name="psw" required>

    <label for="adr"><b>Alamat</b></label>
    <input type="text" placeholder="Masukkan Alamat" name="adr" required>

    <label for="telp"><b>Nomor Telepon</b></label>
    <input type="text" placeholder="Masukkan Nomor Telepon" name="telp" required>

    <p>Dengan membuat akun, Anda setuju dengan <a href="#">Syarat & Ketentuan</a> kami.</p>
    <button type="submit" class="registerbtn">Daftar</button>
  </div>

  <div class="container signin">
    <p>Sudah punya akun? <a href="#">Masuk</a>.</p>
  </div>
</form>

</body>

</html>