<!DOCTYPE html>
<html>
<head>
<title>Masuk</title>
<link rel="stylesheet" href="login.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<form action="action_page.php">
  <div class="imgcontainer">
    <img src="logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label class="biru" for="uname"><b>Username</b></label>
    <input type="text" placeholder="Masukkan Username" name="uname" required>

    <label class="biru" for="psw"><b>Password</b></label>
    <input type="password" placeholder="Masukkan Password" name="psw" required>

    <button class="button" type="submit">Masuk</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Ingat saya
    </label>
  </div>

  <div id="outer" class="container">
    <button type="button" class="cancelbtn">Batal</button>
    <span class="psw">Lupa <a href="#">password?</a></span>
  </div>
  <div class="container register">
    <p>Baru di sini? <a href="#">Daftar</a>.</p>
  </div>
</form>
</body>

</html>